.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.home-text-container {
  width: 50%;
  color: #ffffff;
}

.home-heading {
  font-size: 60px;
}
.home-description {
  font-size: 30px;
}

.find-jobs-btn {
  width: 160px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  background-color: #6366f1;
  color: #ffffff;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}
