.nav-header-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 10px;
}

.logo-in-header {
  width: 100px;
  padding: 5px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}
.nav-link {
  text-decoration: none;
  margin: 8px;
  color: #f8fafc;
  font-family: 'Roboto';
}
.logOut-btn {
  background-color: #4f46e5;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  color: #f8fafc;
  border: none;
  border-radius: 6px;
}
